<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
			.errorMsg {
        font-size: 40px;
				display: flex;
        flex-direction: column;
				justify-content: center;
				align-items: center;
				height: 70vh;
				color: #0061a8
			}
		</style>
    <title>Document</title>
  </head>
  <body class="errorMsg">
    <div >
      <h2><%= staCode %></h2>
    </div>
    <div>
      <p> Error - <%= error %> </p>
      <p style="font-size: 25px; text-align: center;"> Please try again </p>
    </div>
  </body>
</html>
